server/standalone/configuration/standalone_xml_history
server/standalone/log
server/standalone/tmp

server/domain/configuration/standalone_xml_history
server/domain/configuration/host_xml_history
server/domain/configuration/domain_xml_history
server/domain/log
server/domain/tmp
# server/domain/data

